@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    font-family: 'Roboto',sans-serif;
    margin:0;
    display:flex;
    flex-wrap: wrap;
}

.header-container{
    display:flex;
    width: 100%;
    background-color: #1f2937;
    padding:0 20%;
    flex-direction: column;
}

.header{
    display: flex;
    width:100%;
    align-items: center;
    justify-content:space-between;
    
}

#hlogo{
    font-size: 24px;
    color:#f9faf8;
}

.header-container ul{
    display:flex;
    flex-direction: row;
    gap:16px;
    list-style-type: none;
    padding:0px;
    margin:0px;
}

ul{
    color:white;
}

.hero{
    display:flex;
    margin:64px 0;
    justify-content: space-between;
}

.hero img{
   width:400px;
   height:250px;
}

.htext{
    max-width:450px;
}

#herotext{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    margin:0px;
}
#herosubtext{
    font-size: 18px;
    color: #e5e7eb;
    margin:8px 0px;
}

button{
    background-color: #3882f8;
    border-radius: 6px;
    border-color: #3882f8;
    padding:4px 26px;
    color:white;
}

.information-container{
    display:flex;
    width:100%;
    padding:0 20%;
    text-align:center;
    justify-content: center;
    flex-direction: column;
}

.information-container img{
    width:150px;
    height:150px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    margin:64px 0;
}

.image-container{
    display: flex;
    justify-content: center;
    gap:52px;
    margin-bottom: 124px;
}

.item{
    max-width: 150px;
}

.quote-container{
    display: flex;
    background-color: #e5e7eb;
    padding:150px 20%;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    font-style:italic;
    font-weight:300;
    color:#1f2937;
}
.guy{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
.signup-container{
    display: flex;
    padding:100px 20%;
    width:100%;
}
.button-container{
    background-color: #3882f8;
    border-radius: 12px;
    width:100%;
    height: 125px;
    padding:0 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.action{
    color:white;
}

.actiontext{
    font-size: 20px;
    font-weight: bold;
}

.button-container button{
    border-color: white;
}

.footer{
    text-align: center;
    width:100%;
    background-color: #1f2937;
    color: white;
    padding:25px 0;
}